<!DOCTYPE html>
<html>
  <head>

  </head>

  <body>
    <form action= /random/results>
      <label for= "min">
        Minimum
      </label>
      <input id= "min" name= "min" placeholder="E.g. 1.5" type= "text">

       <label for= "max">
       Maximum
      </label>
      <input id= "max" name= "max" placeholder="E.g. 1.5" type= "text">


      <button>Pick random number </button>
    </form>



  </body>



</html>
