<!DOCTYPE html>
<html>
  <head>

  </head>

  <body>
    <h1>Payment Results</h1>
    <dl>
      <dt>Minimum</dt>
      <dd><%= @min %></dd>
      <dt>Maximum</dt>
      <dd><%= @max %></dd>
      <dt></dt>
      <dd><%= @principal %></dd>
      <dt>Payment</dt>
      <dd><%= @random %></dd>
    </dl>

    <a href=/square/new>Pick another random number</a>



  </body>



</html>
