<!DOCTYPE html>
<html>
  <head>

  </head>

  <body>
    <form action= "/square/results">
      <label for= "square">
        Enter a number:
      </label>
      <input id= "square" name= "square" type= "text">

      <button>Calculate Square </button>
    </form>



  </body>



</html>
