<!DOCTYPE html>
<html>
  <head>

  </head>

  <body>
    <form action= "/square_root/results">
      <label for= "square_root">
        Enter a number:
      </label>
      <input id= "square_root" name= "square_root" placeholder="What number do you want" type= "text">

      <button>Calculate Square Root </button>
    </form>



  </body>



</html>
